/* ---> BASE STYLES */
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
    border-width: 1px;
    border-color:aqua;
    border-style: dashed;
}

button {
    font-family: 'Tulpen One',
        cursive;
    font-size: 39px;
    background-color: #BF2603;
    border-color: #BF2603;
    letter-spacing: 1.9px;
    color: #FFFFFF;
}

