.blogMain {
    background-color: $primary;// #111010;

    .twoColumns {
    display: flex; 
    padding-top: 120px;
    padding-bottom: 100px;

        .leftColumn {
            width: 40%;
            
            .imageAndText {
                background-color: $tertiary;//#220303;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 80%;
                padding: 0 30px px 30px;

                .image {
                    margin: -30px 0 0 -95px;
                }

                .text {
                    h3, p {
                        margin: 0 0;
                        padding: 0 30px;
                    }

                    .ourMission {
                            a {
                            color: $secondary;//#FF8327;
                            // text-align: left;
                            text-decoration: none;
                            padding: 0 30px;
                            }

                            h3 {
                                margin: 15px 0 5px;
                            }
                    }

                    .recentPosts {
                        padding-bottom: 20px;

                        h3 {
                            margin-top: 20px;;
                        } 

                        ul {
                            li { 
                                color: $secondary;// #FF8327;
                                }
                        }
                    }  // end of .recentPosts
                } // end of .text
            } // end of .imageAndText
        } // end of .leftColumn   

        .rightColumn {
                width: 60%;
            
            .rightColumnContent {
                    margin-top: -250px;

                .imageAndNewMenu {
                    padding: 40px 60px 60px 80px;
                    margin-right: -130px;
                    
                    .menuImg {
                        box-shadow: -20px 20px 0px $secondary;//rgba(255, 131, 39, 1);
                        -webkit-box-shadow: -20px 20px 0px $secondary;//rgba(255, 131, 39, 1);
                        -moz-box-shadow: -20px 20px 0px $secondary; //rgba(255, 131, 39, 1);

                        margin-left: -60px;
                    } // end of .menuImg
                                        
                    .newMenu {
                        // padding-left: 50px;
                        // padding-right: 50px;
                        padding: 30px 60px;

                        margin-left: -80px;

                        background-color: #111010; //purple; 

                        border-bottom-width: 3px;
                        border-bottom-color: $secondary;//#FF8327;
                        border-bottom-style: solid;
                        border-left-width: 3px;
                        border-left-color: $secondary; //#FF8327;
                        border-left-style: solid;
                        
                        // margin-left: -13px;
                        margin-top: 13px;

                        h3, p {
                            margin: 20px 0;
                            padding: 0;
                        }

                        p.orangeSubtitle {
                            margin: 0;
                            color:$secondary; //#FF8327;
                        }                           
                    } //end of .newMenu
                } // end of .imageAndNewMenu

                .comments {
                    padding-left: 60px;

                    h3, p {
                        margin: 0;
                        padding: 0;
                    }

                    .post {
                        display: flex;
                        padding: 40px 0;                 
                        
                        .photo {
                            width: 100px;
                            padding: 10px 20px 0 0;
                        }

                        .text {
                            width: 800px;;
                            display: flex;
                            flex-direction: column;

                            .commentDate {
                                color:$secondary; //#FF8327;;
                            }
                        } //end of .text
                    } // end of .post
                } // end of .comments

                .divForm {
                    form {
                    // margin-top: -40px;
                    // margin-top: -200px;
                    // margin-right: -50px;

                        input,
                        textarea {
                            background-color: $primary;// #111010;
                            padding: 20px;
                        }

                        input {
                            border: none;
                            border-bottom: 2px solid $secondary; //#FF8327;rgba(255, 131, 39, 1);
                            width: 45%;
                            margin-left: 10px;
                        }

                        textarea {
                            border: 2px solid $secondary; //rgba(255, 131, 39, 1);
                            margin: 40px 0;
                            width: 100%;
                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            padding: 60px;

                        }

                        input::placeholder,
                        textarea::placeholder {
                            color: $quaternary;// #FFFFFF;
                            font-family: $bodyFont;//'Chathura',
                            line-height: 29px;
                            letter-spacing: 1.9px;
                        }

                        .nameAndEmail {
                            justify-content: space-between;
                        }

                        button {
                            width: 100%;
                        }
                    }
                } // end of .divForm
            } // end of .rightColumnContent
        } //end of .rightColumn
    }// end of .twoColumns    
}// end of .blogMain
