.knowMore {
    background-color: grey;
    color: #fff;
}

.flexKnowMore {
    display: flex; // still not flexing.
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

div.flexKnowMore {
    // display: block;
    width: 40%;
}