/* SECTION 5 STYLES - EVENTS */

.events {
    background-color: #111010;
    color: #FFFFFF;

    img {
            box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1);
            -webkit-box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1);
            -moz-box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1);
        }

    .flexContainer {
            display: flex;
            align-items: center;
            padding: 130px 0 120px 0;
    }

    .flexImage {
        width: 35%;
        margin-left: 20px;
    }

    .flexText {
        width: 63%;

        h3 {
            margin:0 0 10px 0;
            color:rgba(255, 131, 39, 1)
        }

        p {
            margin: 0;
            margin: 0 0 30px 0;
        }
    }
}
