.hostAparty {
    background-color: rgb(17, 16, 16);
    color: #FFFFFF;
    text-align: center;

    .hostApartyDiv {
        padding: 120px 80px 70px;
    }

    h3 {
        margin: 0px;
        // margin-top: 100px;
        margin-bottom: 10px;
        
    }

    p {
        margin: 0px;
        margin-bottom: 20px;
    }

    button {
        // margin-bottom: 120px;
    }

    }


    