.locations {
    background-color: rgb(62, 2, 2);
    color: #FFFFFF;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .container {
        max-width: 45%;

        h3 {
            margin-bottom: 0px;
        }

        p {
            margin: 10px 0 40px 0;
        }
        position: relative;

        .newLocations {

            h3 {
                text-align: right;
                margin-top: 15px;
            }

            .button {
            
                text-align: end;
            }


        .imageOne {
                width: 35%;
                margin-top: -40px;
                box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                -webkit-box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                -moz-box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                width: 90%;
                // position: absolute;
            }

            .imageTwo {
                // width: 90%;
                box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1);
                    -webkit-box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1);
                    -moz-box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1); 
            }
        }
    }
}