.locations {
    background-color: rgb(62, 2, 2);
    color: #fff;

}

.locationsFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .locationsContainer {
        max-width: 45%;
        padding-bottom: 70px;
        position: relative;

        h3 {
            margin-bottom: 0px;
        }

        p {
            margin: 10px 0 40px 0;
        }

        .newLocations {

            h3 {
                text-align: right;
                margin-top: 15px;
            }

            button {
                margin: 0 1px 0 auto;
                display: block;
                text-align: end;
            }


            .locationsContainerImageOne {
                width: 90%;
                position: absolute;
                margin-top: -40px;
                box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                    -webkit-box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                    -moz-box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1); // this style did not apply (it´s not being imported to style.css, but I pasted manually and save, and still it wouldn´t work

            }

            .locationsContainerImageTwo {
                // width: 90%;
                border-color: #FF8327; //sem efeito
                // border-width: 20px; //sem efeito 
                position: absolute;
                // margin-top: 100px;

            }
        }
    }
}