.knowMore {
    background-color: rgb(53, 51, 51);
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.flexKnowMore {
    display: flex;
    flex-wrap: wrap;   
}

.flexKnowMoreContainer {
    width: 50%;

    div {
            width: 550px;
            // padding-left: 45px;
            margin-left: 40px;
        }
        ::before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: peru;
        } // não está funcionando, buscar o pq, se falta de espaço
    
    h3 {
        margin-bottom: 0;
    }
    
    p {
        margin-top: 10px;
    }
}


// .newSpace,
// .community,
// .blog,
// .getInTouch {
//     width: 50%;
// }
