.locations {
    background-color: rgb(62, 2, 2);
    color: #FFFFFF;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .container {
        max-width: 45%;

        h3 {
            margin-bottom: 0px;
        }

        p {
            margin: 10px 0 40px 0;
        }
        // position: relative;

        .newLocations {
            padding: 40px 0 70px;

            h3 {
                text-align: right;
                margin-top: 15px;
            }

            .button {
                // text-align: end;
                margin-left: 345px;
            }

            
        }

        .imageOne {
                margin-top: -30px;
                margin-left: -70px;
                box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                -webkit-box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                -moz-box-shadow: 17px 19px 0px -1px rgba(255, 131, 39, 1);
                width: 900px;
                
            }

        .imageTwo {
            margin-top: 60px;;
            margin-left: 70px;
            box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1);
                -webkit-box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1);
                -moz-box-shadow: -20px 19px 0px -1px rgba(255, 131, 39, 1); 
        }
    }// end of .container
} // end of .flexContainer